.nav-container {
  height: 60px;
  position: relative;
  z-index: 2;
}
.nav-container .nav {
  background-color: #151513;
  display: flex;
  align-items: stretch;
  height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  gap: 1em;
}

.nav-container .nav-login {
  cursor: pointer;
  margin-right: 1em;
}
.nav-container .nav > li {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container .nav > li:hover {
  margin-top: 5px;
  border-bottom: solid 5px #E02215;
  cursor: pointer;
}

.nav-profile-button {
  margin-right: 1em;
}

.nav-container .nav > li:last-child {
  margin-right: 1em;
}
.nav-container .nav > li:first-child {
  margin-left: 1em;
}

.nav-container .nav-avatar-container {
  margin-left: 1em;
}
.nav-avatar-container .nav-avatar{
  border-radius: 50%;
  display: block;
  width: 35px;
  height: 35px;
  margin: 0 auto;
}
.nav-container .nav-home {
  margin-right: auto;
  cursor: pointer;
}

.nav-container .dropdown-cart {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  position: fixed;
  z-index: 4;
  top: 60px;
  width: 400px;
  right: 25px;
  height: 200px;
  background-color: #151513;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nav-container .hide {
  display: none!important;
}

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: -1;
}

.nav-container .cart-image-container {
  max-width: 30px;
  position: relative;
}

.nav-container .cart-image-container > img {
  display: block;
  width: 100%;
}

.nav-container .cart > .cart-full::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
}
