* {
  margin: 0;
  padding: 0;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  background-color: #333;
  color: #FFF;
}

a {
  background-color: #333;
  color: #FFF;
  text-decoration: none;
}
