.login-form-container {
    display: flex;
    height: calc(100vh - 60px);
}

.login-form-container .login-form {
    background-color: #151513;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 350px;
    max-height: 800px;
    padding: 2em 2em;
    margin: auto auto;
    gap: 0.5em;
}

.login-form-container .login-form-title {
    text-align: center;
    padding: 1em 0;
}

.login-form-container .password {
    margin-top: 1em;
}

.login-form-container .login-button,.register-button {
    width: 200px;
    font-size: 1.2rem;
    padding: 0.5em 0.5em;
    margin: 0 auto;
}

.login-form-container .username-input:focus,.password-input:focus {
    outline: none;
    border: 2px solid #FFF;
    margin: -2px;
}

.login-form-container .login-button {
    margin-top: 1em;
    margin-bottom: 1em;
}

.login-form-container .register-button {
    margin-bottom: 1em;
}

.login-form-container .register-button {
    width: 250px;
}