.product-page-container {
    --image-size: 450px;
    --image-border-radius: 20px;
    --product-vertical-padding: 25px;
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: stretch;
}

.product-page .product-image-container {
    height: 650px;
    width: 650px;
}

.product-page .product-image-container > .product-image {
    height: 650px;
    width: 650px;
    border-radius: var(--image-border-radius);
} 

.product-page-container .product-page {
    display: flex;
    gap: 6em;
    width: 100%;
    padding: 0 6em;
    justify-content: center;
    align-items: center;
}

.product-page-container .product-text-container {
    max-width: 500px;
}

.product-page-container .product-name {
    margin-bottom: 1em;
    font-size: 2.4rem;
}

.product-page-container .product-description {
    margin-bottom: 2em;
}
.product-page-container .product-price {
    margin-bottom: 1em;
    font-size: 2rem;
    text-align: center;
}
