.user-profile-container {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile-container .user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #151513;
    padding: 2em;
    border-radius: 15px;
    width: 250px;
}

.user-profile-container .avatar-container {
    margin: 0 auto;
    margin-bottom: 2em;
    position: relative;
    cursor: pointer;
    width: 150px;
    height: 150px;
} 

.user-profile-container .avatar {
    border-radius: 50%;
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.user-profile-container .avatar-overlay-container:hover {
    opacity: 0.5;
}

.user-profile-container .avatar-overlay-container {
    transition: opacity 0.5s;
    position: absolute;
    background-color: #151513;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0;
}

.user-profile-container .avatar-overlay {
    width: 100px;
}

.user-profile-container .name-title {
    text-align: center;
    margin-bottom: 0.2em;
}

.user-profile-container .name {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1em;
}

.user-profile-container .upload-button {
    margin-bottom: 2em;
}

.user-profile-container > .messages-container {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
}

.user-profile-container .error-message {
    background-color: #A22;
    text-align: center;
}

.user-profile-container .display-message {
    background-color: #2A2;
    text-align: center;
}
